.Pimg4 {
    background-image: url('../../assets/images/FooterImg.jpg');
    opacity: 0.8;
    min-height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Footer {
    padding: 0;
    margin: 0;
    max-height: 100px;
    /* min-height: 100px; */
    background-color: #282e34;
    color: #ddd;
    width: 100%;
}
.FooterText {
    margin: 0px;
    padding: 20px 30px;
}