.Carousel {
    min-height: 3rem;
    max-width: 60vw;
    margin: auto;
}

.image1 {
    background-image: url('../../assets/images/LandingImg.jpg');
    min-height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    background-position-x: 50%;
    background-position-y: 50%;
}

ul{
    display: none;
}

@media(max-width:500px) {
    .Carousel {
        margin: auto;
        max-height: 50vh;
        min-width: 80vw;
        margin: auto;
    }
}