.Product {
    display: block;
    width: 200px;
    padding: 16px;
    text-align: center;
    border: 2px solid #eee;
    box-shadow: 0 4px 6px #ddd;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    border-radius: 15px;
    color: #ddd;
    outline:none;
}

.Product:hover,
.Product:active {
    background-color: rgba(201, 167, 18);
}

.Med1 {
    background-image: url('../../assets/images/med.jpg');
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.Title {
    min-height: 50px;
    font-size: 10px;
    display: block;
}

#p {
    color: rgba(201, 167, 18);
}
p.Title:hover {
    color: #282e34;
}

@media (min-width: 500px) {
    .Product:hover {
        background-color: rgba(201, 167, 18);
    }
}