.Product {
    display: inline-block;
    width: 200px;
    padding: 16px;
    text-align: center;
    border: 2px solid #eee;
    box-shadow: 0 4px 6px #ddd;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    border-radius: 15px;
}

.Product:hover,
.Product:active {
    background-color: rgba(201, 167, 18);
}
