.ProductDescription {
    display: block;
    padding: 16px;
    text-align: center;
    border: 2px solid #282e34;
    /* box-shadow: 0 4px 6px #ddd; */
    margin: 100px auto;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 15px;
    color: #282e34;
    background-color: #ddd;
    min-height: 70vh;
    max-width: 70vw;
    outline:none;
}

